<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VeganYemekApp.Properties.Settings.düzeltmeVeganYemekArifiConnectionString"
            connectionString="Data Source=DESKTOP-OQ1P4OP\SQLEXPRESS;Initial Catalog=düzeltmeVeganYemekArifi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>